.card {
     width: 200px;
     height: 150px;
     border: 1px solid #ccc;
     margin: 20%;
     display: flex;
     color: #333;
     justify-content: center;
     align-items: center;
     text-align: center;
     cursor: pointer;
     background-color: #fafafa;
     border-radius: 10%;
     padding: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease, background-color 0.3s ease;

   }
   
   .card:hover {
     background-color: #eee;
     transform: scale(1.05);
   }
   