  .csvWindow {
    max-width: 100%;
    max-height: 550px; 
    overflow-x: auto; 
    overflow-y: auto;  
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; 
  }
  
  .csvTable {
    width: 100%; 
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
  }
  