.validationWindow {
     padding: 20px;
     margin-top: 50px;
   }
   
   .questionCard {
     border: 1px solid #ddd;
     padding: 20px;
     margin-bottom: 20px;
     border-radius: 8px;
   }
   
   .options {
     margin: 10px 0;
   }
   
   .navigation {
     display: flex;
     justify-content: space-between;
   }
   
   button {
     padding: 10px 20px;
     cursor: pointer;
   }
   
   .opinionSection {
     margin-top: 20px;
   }
   
   .opinionSection h4 {
     margin-bottom: 10px;
   }
   
   .opinionSection div {
     display: inline-flex;
     align-items: center; /* Align the radio button and label in the same line */
     margin: 10px 0; /* Add some space between each option */
   }
   
   .opinionSection input[type="radio"] {
     margin-right: 10px; /* Space between the radio button and label */
   }
   