.validationWindow {
     padding: 20px;
     margin-top: 50px;
   }
   
   .validationWindow h2{
     margin-top: 40px;
   }

   .questionCard {
     border: 1px solid #ddd;
     padding: 20px;
     margin-bottom: 20px;
     border-radius: 8px;/* Light background for better readability */
   }
   
   .options {
     margin: 10px 0;
   }
   
   .navigation {
     display: flex;
     justify-content: space-between;
     margin-top: 20px; /* Added space above navigation buttons */
   }

   .navigation button{
     margin-left: 5px;
     margin-right: 5px;
   }
   
   .navigation button {
     padding: 10px 20px;
     cursor: pointer;
     background-color: #cbcccd; /* Bootstrap primary color */
     border: none;
     border-radius: 10%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease, background-color 0.3s ease;
   }
   
   .navigation button:hover {
     background-color: #8c8c8c; /* Darker shade on hover */
     transform: scale(1.05);
   }
   
   .opinionSection {
    margin-top: 20px;
    padding: 15px; /* Added padding for better spacing */
    border: 1px solid #ccc; /* Border to distinguish the opinion section */
    border-radius: 6px;
    background-color: rgb(169, 169, 169); /* Slightly darker background */
  }
  
  .opinionSection h4 {
    margin-bottom: 10px;
  }
  
  /* Adjust the layout of opinion options */
  .opinionSection div {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align the radio button and label in the same line */
    margin: 10px 0; /* Add some space between each option */
    justify-content: space-between; /* Distribute space between radio button and label */
  }
  
  /* Ensure the radio button takes less space */
  .opinionSection input[type="radio"] {
    margin-right: 10px; 
    flex-shrink: 0; 
    width: 5%;
  }
  
  /* Style for the label to stretch across the line */
  .opinionSection label {
    flex-grow: 1; /* Allow label to take up the remaining space */
    text-align: left; /* Align text to the left */
  }
  
   